{% extends 'base.html' %}

{% block title %}
    {{ post.title }} - ItGirl
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>Published on: {{ post.created_at }}</p>
    <p>Category: {{ post.category }}</p>

    {% if post.content %}
        <div>
            {{ post.content }}
        </div>
    {% endif %}

    {% if post.submission_content %}
        <div>
            {{ post.submission_content }}
        </div>
    {% endif %}

    {% if post.featured_image %}
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
    {% endif %}
    {% if post_type == 'user_submission' %}
        <p>Author: <a href="{% url 'user_profile:other_user_profile' author_id %}">{{ author_username }}</a></p>
        <form action="{% url 'like_post' post_id=post.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Like</button>
        </form>
        {% if post.user == request.user %}
            <a href="{% url 'delete_post' slug=post.slug %}" class="btn btn-primary">Delete Post</a>
            <a href="{% url 'edit_post' slug=post.slug %}" class="btn btn-primary">Edit Post</a>
        {% endif %}
        <h3>Comments</h3>
        {% for comment in comments %}
            <p>{{ comment.content }}</p>
                {% if comment.user == request.user %}
                    <a href="{% url 'edit_comment' comment.id %}" class="btn btn-primary">Edit Comment</a>
                    <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger">Delete Comment</a>
                {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <h2>Submit a Comment</h2>
            <form action="{% url 'comment_on_post' post_id=post.id %}" method="post">
                {% csrf_token %}
                <input type="test" value="" name="content">
                <button type="submit">Comment</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}