{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/burger.js' %}"></script>
    <title>ItGirl</title>
</head>

<body>
<nav class="relative bg-lightest">
    <div class="flex justify-between items-center px-4 py-2 text-xl text-fourth">
        <a href="{% url 'home' %}"> <img class="max-h-14 lg:max-h-24" src="{% static 'src/it_girl_logo.webp' %}" alt="It girl blog, est 2023"> </a>
        <button id="burgerButton" aria-label="Toggle menu" aria-expanded="false" class="absolute top-1 right-1 z-10 m-4 lg:hidden">
            <span class="block w-10 h-1 bg-fourth mb-2 transition-all duration-300 ease-in-out bar1"></span>
            <span class="block w-10 h-1 bg-fourth mb-2 transition-all duration-300 ease-in-out bar2"></span>
            <span class="block w-10 h-1 bg-fourth mb-2 transition-all duration-300 ease-in-out bar3"></span>
        </button>
        <div class="hidden lg:flex lg:gap-y-[15px] lg:space-x-6">
            <a href="{% url 'home' %}" class="hover:text-coral">Home</a>
            <a href="{% url 'category_posts' category='Skin' %}" class="hover:text-coral">Skincare</a>
            <a href="{% url 'category_posts' category='Hair' %}" class="hover:text-coral">Haircare</a>
            <a href="{% url 'category_posts' category='Sexual Wellness' %}" class="hover:text-coral">Sexual Wellness</a>
            <a href="{% url 'category_posts' category='Menstrual Wellness' %}" class="hover:text-coral">Menstrual Wellness</a>
        </div>
        {% if user.is_authenticated %}
        <div class="hidden lg:flex space-x-4">
            <a href="{% url 'user_submissions:submit_post' %}">Create Post</a>
            <a href="{% url 'account_logout' %}">Logout</a>
            <a href="{% url 'user_profile:user_profile' %}">My Profile</a>
        </div>
        {% else %}
        <div class="hidden lg:flex space-x-4">
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
        </div>
        {% endif %}
    </div>
    <div id="mobile-menu"
        class="hidden flex flex-col gap-y-[15px] lg:space-x-6 navbarNav hidden bg-lightest w-full h-full flex flex-col items-center justify-center space-y-4 py-9 text-fourth burgerBarClosed">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'category_posts' category='Skin' %}">Skincare</a>
        <a href="{% url 'category_posts' category='Hair' %}">Haircare</a>
        <a href="{% url 'category_posts' category='Sexual Wellness' %}">Sexual Wellness</a>
        <a href="{% url 'category_posts' category='Menstrual Wellness' %}">Menstrual Wellness</a>
        {% if user.is_authenticated %}
        <a href="{% url 'user_submissions:submit_post' %}">Create Post</a>
        <a href="{% url 'account_logout' %}">Logout</a>
        <a href="{% url 'user_profile:user_profile' %}">My Profile</a>
        {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </div>
</nav>

    <div class="">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-Pfz7JS1KL51NWW3BWT+AtDs+Xv2fzmFlulqWL9xAsj7hjWl/1EdbBdFx/t1dPwk" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy5qE0HhpEC35eF6b3sVJg5+gWPI8b5U6M" crossorigin="anonymous">
        </script>


</body>

</html>